@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-titulo: "Lora", serif;
    --fonte-texto: "Arima", system-ui;
    --preto: #000000ff;
    --azul-forte: #14213dff;
    --laranja-claro: #fca311ff;
    --bege: #e5e5e5ff;
    --branco: #ffffffff;
}

body{
    background-color: var(--bege);
    font-family: var(--fonte-texto);
}
header{
    background-color: var(--branco);
    text-align: center;
    padding: 2em;
    color: var(--preto)
}
header h1{
    font-family: var(--fonte-titulo);
    font-size: 2.5em;}
.projetos{
    padding: 2em;
    display: flex;
}